.blog-post-item {
    .img-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        min-height: 220px;
        margin-bottom: 24px;
    }
    img {
        width: auto;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}
.tag {
    display: inline-block;
    background-color: @gray;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 2px;
}

///recent posts in sidebar
.card-horizontal {
    &.recent-post {
        display: grid;
        margin-bottom: 8px;
        grid-template-columns: 20% 1fr;
        grid-column-gap: 16px;
        align-items: flex-start;
        padding: 8px;

        .img-container {
            background: #f4f4f4;
            box-shadow: 0 8px 19px -10px rgba(74, 61, 54, 0.25);
        }
        img {
            object-fit: cover;
            height: 72px;
            width: auto;
        }
        a {
            color: @black;
        }
        &:hover {
            background-color: @gray;
        }
    }
}
.blog {
    margin-top: 64px;
    aside {
        padding-bottom: 32px;

        h6 {
            margin-bottom: 32px;
        }
    }
    article{
        img{
            max-width: 100%;
        }
    }
}
.newsletter-sidebar {
    padding: 0 0 56px;

    [type="email"] {
        background-color: #f4f4f4;
    }
}
//blog hero
.page-blog {
    #hero {
        min-height: 450px;
        margin-bottom: -310px;
    }
    .blog-section {
        padding-top: 0;
    }
}
.blog-section {
    padding-top: 40px;
}
.blog-post-featured {
    display:flex;
    align-items:center;
    position: absolute;
    position: relative;
    // top: -470px;
    // left: 5%;
    // width:90%;
    // min-height: 312px;
    background-color: darken(@primary-color, 30%);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    color: #fff;
    padding: 32px;
    box-shadow: 0 17px 36px -6px rgba(74, 61, 54, 0.5);
    margin-bottom: 80px;
    overflow: hidden;

    .content {
        position: relative;
        z-index: 5;
    }
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    &:hover {
        .blog-post-featured-img {
            transform: scale(1.05);
        }
    }
}
.blog-post-featured-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
//article content styles
article {
    h2 {
        .h4;
        font-size: 24px;
    }

    ul,
    ol {
        margin-bottom: 24px;
    }

    table{
        th,td{
            vertical-align: top;
            padding:8px 6px;            
        }
        th{
            background-color: #fafafa;
        }
        td{
            font-size:13px;
            border:1px solid #f0f0f0;
        }
        tr:nth-of-type(odd) { 
            background: #f5f5f5; 
          }
    }
    sup{
        font-size: 70%;;
    }
    .responsive-table{
        overflow-x: auto;
        border:1px solid #ddd;
        margin-bottom:56px;
    }
}
.blog-cta{
    background-color: @primary-color;
    padding: 3rem 2rem;
    color: #fff;
    max-width: 600px;
    margin: auto;
    margin-top: 72px;
    margin-bottom: 32px;
    box-shadow: 0 30px 30px -21px rgba(60,131,183,0.59);
    text-align: center;
    .btn{
        margin-top: 1rem;
        &:hover{
            background-color: darken(@primary-color,15%);
        }
    }
}
.blog-cta-copy{
    font-size: 24px;
}
@media screen and (min-width: @screen-sm-min) {
    //blog hero
    .page-blog {
        #hero {
            min-height: 684px;
            margin-bottom: 80px;
        }
    }

    .blog {
        display: grid;
        grid-template-columns: 68% 1fr;
        grid-gap: 4%;

        section {
            margin-top: 0;
        }
    }
    .blog-listing-copy {
        align-self: center;
    }
    .card-horizontal.blog-post-item {
        grid-template-columns: 40% 1fr;
        grid-column-gap: 5%;
        align-items: center;
        margin-bottom: 50px;

        .img-container {
            margin-bottom: 0;
            img {
                margin-bottom: 0;
            }
        }
    }
    .img-blog-listing {
        height: 312px;
        object-fit: cover;
    }
    //featured blog post
    .blog-post-featured {
        min-height: 512px;
        top: -580px;
        color: #fff;
        padding: 0 88px ;

        .title {
            line-height: 1.1;
        }
        .content {
            max-width: 770px;
        }
    }
    .related-posts {
        .card-img-container {
            background-color: #878d92;
        }
        img {
            min-height: 200px;
        }
    }
    article{
        .responsive-table{
            border:0;
        }
    }

    .blog-section{
        &.images-left{
            img,.media{
                float:left;
                margin:1rem 30px 1rem 0;
                clear: both;
            }
            .media{
                width: 50%;
                font-size: 13px;
                color:#677c8c;
                img{
                    margin:0 0 4px 0;
                    float: none;
                }
            }
        }
        &.images-right{
            img{
                float:right;
                margin:1rem 0 1rem 30px;
                clear: both;
            }
        }
        &.images-left, &.images-right{
            h2,h3,h4,h5{
                clear:both;
            }
        }
    }
}
@media screen and (min-width: @screen-md-min) {
    .blog-post-featured {
        width: 96%;
        left: 0;
        top: -570px;
        margin-left: 32px;
        position: absolute;
        transition: all 0.3s;

        &:hover {
        }
    }
    .blog-post-item {
        margin-bottom: 0;
        align-items: flex-start !important;
        .img-container {
            overflow: visible;
            position: relative;
            width: auto;
            height: 308px;
        }
        img {
            width: auto;
            width:308px;
            height:308px;
            margin-bottom: 24px;
            position: static;
            object-fit: cover;
            
        }
    }
}
