<div class="footer-bg">
    <footer class="footer">
        <div class="container">
            <div class="grid-2 newsletter-signup">
                <div>
                    <div class="h3 pc">Join Our Newsletter</div>
                Stay up to date on the latest air filtration systems, clean air technologies, and news from Duroair.
            </div>
                <div class="ns-form-container" id="newsletter-signup">
                <script>
                        window.addEventListener('load', function(){
                            hbspt.forms.create({portalId: "3114036", formId: "d1aff500-c2eb-4eba-86b1-0e15c66cfea1", css: '', cssClass: 'ns-form'});
                        });
                    </script>
                </div>
            </div>
            <div class="grid-4 sm-grid-2 footer-info">
                <div class="helpful-links">
                    <strong class="h6">Helpful Links</strong>
                    <a href="/industries">Industries</a>
                    <a href="/solutions">Solutions</a>
                    <a href="/about/beyond-compliance">Beyond Compliance</a>
                    <a href="/how-we-work">How We Work</a>
            </ul>
        </div>
        <div>
            <div>
            
                <strong class="h6">US Office</strong><br>
                Duroair Technologies USA Inc.<br>
                52029 Sierra Drive<br>
                New Baltimore, MI 48047 USA<br><br>
            </div>
            <strong class="h6">Canada</strong><br>
                Duroair Technologies Inc.<br>
                5850 Don Murie Street, Unit D <br>Niagara Falls, ON <br>
                L2G 0B3 CANADA
        </div>
           <div>
           <strong class="h6" style="line-height:18px">
               Cage Code: 8C5P4<br>
               SAM ID: EETKEK7Q4WG6
           </strong>
           </div>
        <div>
            <strong class="h6">Contact Us</strong><br>
                info@duroair.com <br>
                Toll Free: 1-888-730-0911 <br>
        </div>
    </div>
</div>
</footer>

</div>
{% if ettings[0].enabled %}

<div class="promo" id="promo" data-label="{{ settings[0].promo_campaign}}" data-campaign-id="{{ settings[0].promo_campaign | cssClassify}}">
<div class="promo-container">
<div class="promo-content">
    <img src="{{ settings[0].promo_desktop_img}}"  alt="" class="promo-img">
    <img src="{{ settings[0].promo_mobile_img}}" alt="" class="mobile-promo-img">
    <div class="promo-copy">
        {{ settings[0].promo_copy | md}}
        {% if settings[0].promo_url  %}
            <a href="{{ settings[0].promo_url}} " class="btn btn-default" id="promo-buddon">{{ settings[0].promo_button_label}}</a>
        {% endif %}
    </div>
</div>
<button class="btn-dismiss" aria-label="dismiss" id="modal-dismiss" title="close">
    <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="footer-Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
            <g transform="translate(-599.000000, -19.000000)" stroke="#D1D4D4" stroke-width="2">
                <g>
                    <g id="f-icon-x" transform="translate(600.000000, 20.000000)">
                        <path d="M7.93305815,-2 L8,18" id="Line-3-1" transform="translate(8.000000, 8.000000) rotate(-44.808226) translate(-8.000000, -8.000000) "></path>
                        <path d="M7.93305815,-2 L8,18" id="Line-3-2" transform="translate(8.000000, 8.000000) scale(-1, 1) rotate(-44.808226) translate(-8.000000, -8.000000) "></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</button>
</div>
</div>
{% endif %}
{%- include "partials/colophon.njk" -%}
{%- include "partials/schema.njk" -%}
{% include "partials/footer-scripts.njk" %}
