{%- if not hideFooterCta -%}
{%- set footerCtaHeadline = cta.headline if cta.headline else 'Make Clean Air a Competitive Advantage' -%}
{%- set footerCtaCopy = cta.copy if cta.copy else 'Contact us today to discuss a compliant clean air solution that delivers bottom-line results in your manufacturing facility.' -%}
{%- set footerCtaUrl = cta.url if cta.url else '/request-for-quote/' -%}
{%- set footerCtaLabel = cta.label if cta.label else 'Request for Quote' -%}
<div class="footer-cta-bg">
    <div class="container">
        <div class="footer-cta">
            <div>
                <div class="h3">{{ footerCtaHeadline}}</div>
                <p class="footer-cta-copy">
                        {{ footerCtaCopy }}
                </p>
            </div>
            <div>
                <a href="{{ footerCtaUrl }}" class="btn">{{ footerCtaLabel }}</a>
            </div>
        </div>
    </div>
</div>
{%- endif -%}