<header id="header" class="show">
    <div class="search-container" id="search-container">
        <form class="search" id="search-form" autocomplete="off">
            <input type="text" placeholder="search" name="durq" id="search-field" value="" class="search-ui">
            <button class="btn btn-search" title="Search"><span>Search</span></button>
            <div class="search-results" id="search-results"></div>
            <svg data-search-trigger id="search-close" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols-nav" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"><g transform="translate(-599.000000, -19.000000)" stroke="#D1D4D4" stroke-width="2"><g><g id="icon-x" transform="translate(600.000000, 20.000000)"><path d="M7.93305815,-2 L8,18" id="hLine-3" transform="translate(8.000000, 8.000000) rotate(-44.808226) translate(-8.000000, -8.000000) "></path><path d="M7.93305815,-2 L8,18" id="Line-3h" transform="translate(8.000000, 8.000000) scale(-1, 1) rotate(-44.808226) translate(-8.000000, -8.000000) "></path></g></g></g></g></svg>
        </form>
    </div>
    {# <div class="header-msg striped">{% include 'partials/global-message.njk' %}</div> #}
    <div class="container header-container">
        <button type="button" id="nav-toggle" class="navbar-toggle" aria-label="menu toggle">
            <div></div>
            <div></div>
            <div></div>
        </button>
        <a id="search-trigger" data-search-trigger><svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21"><g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="2" transform="rotate(-49 9.065 8.931)"><circle cx="8.97" cy="8.928" r="8" /><path stroke-linecap="round" d="M8.83695536,16.9684378 L8.83695536,24.9684378" /></g></svg></a>
        <a class="header-logo" href="/" title="Duroair Home">{% include "partials/inline-svg-logo.njk" %}</a>
            {% include "partials/primary-nav.njk" %}
    </div>
</header>