<div class="testimonial">
    <div class="container">
        <div class="quote-graphic">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58" height="58"><defs><path id="a" d="M0 0h22v17H0z"/></defs><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="28" cy="28" r="28" stroke="#FFF" stroke-width="2"/><g transform="translate(16 20)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path fill="#FEFEFE" d="M22 1.883a44.074 44.074 0 0 0-2.51 1.46c-.64.407-1.289.946-1.95 1.616-.639.647-1.118 1.312-1.436 1.992-.32.68-.546 1.564-.677 2.65h1.585c1.366 0 2.439.322 3.22.961.782.641 1.174 1.58 1.174 2.818 0 .881-.347 1.705-1.042 2.47-.692.768-1.646 1.15-2.856 1.15-1.895 0-3.25-.59-4.064-1.774-.814-1.184-1.222-2.74-1.222-4.668 0-1.361.308-2.602.925-3.723a13.236 13.236 0 0 1 2.246-3 16.071 16.071 0 0 1 2.874-2.295A120.22 120.22 0 0 1 20.811 0L22 1.883zm-12.222 0a44.074 44.074 0 0 0-2.51 1.46c-.64.407-1.289.946-1.95 1.616-.617.627-1.09 1.286-1.42 1.976-.33.69-.562 1.58-.694 2.667H4.79c1.365 0 2.438.32 3.22.96.781.641 1.173 1.58 1.173 2.818 0 .881-.347 1.705-1.04 2.47-.694.768-1.647 1.15-2.858 1.15-1.894 0-3.249-.59-4.063-1.774C.407 14.042 0 12.486 0 10.558c0-1.361.307-2.602.925-3.723a13.211 13.211 0 0 1 2.246-3A16.071 16.071 0 0 1 6.045 1.54C7.057.912 7.906.4 8.588 0l1.19 1.883z" mask="url(#b)"/></g></g></svg>
        </div>
        <p>{{ testimonial.quotation if testimonial.quotation else 'The purchase of our Duroair system has allowed us to bring the coatings process in-house without permanently giving up our shop floor space. As a result, we have increased our customer responsiveness, as well as reduced our operating cost while providing a safe environment for our employees.' }}</p>
        <strong>{{ testimonial.attestant if testimonial.attestant else 'Pete M.'}}</strong><br> 
        {{ testimonial.company if testimonial.company else 'Manufacturing Manager, AZZ Inc.'}}
    </div>
</div>