{% extends "layout.njk" %}
{% block body %}
    <section class="section">
        <div class="grid-2">
            <div>
                {% if youtube_url %}
                    <div class="video-embed h-[300px]">
                        <iframe width="525" height="300" src="//www.youtube.com/embed/{{ youtube_url | getYoutubeId }}?autoplay=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% else %}
                    <img src="{{ product_image }}" class="img-responsive" alt=""/>
                {% endif %}
            </div>
            <div class="ruled-headers product-intro">{{ contents | safe }}</div>
        </div>
    </section>
    <div class="bg-light">
        <div class="bg-light section-v-padding">
            <div class="grid-2 ruled-headers full-col no-margin">
                <div style="background-image:url('{{ image_1 }}');" class="img-col">&nbsp;</div>
                <div class="copy-col {% if remove_key_features_margin %}low-margin{% endif %}">
                    <h3>Key Features</h3>
                    {{ key_features | md }}
                </div>
            </div>
        </div>
    </div>
    <div class="relative overflow-x-hidden">
        <section class="section static fi-container">
            <img class="floating-image" src="{{ image_2 }}" alt="">
            <div class="grid-2 ruled-headers">
                <div class="">
                    <h3>Technical Specifications</h3>
                    {{ technical_specifications | md }}
                    {% if brochure %}
                        <p>For
                            {% if nav_title != 'DuroDust' %}
                                    ISO classifications and
                            {% endif %}
                        other technical information, download our {{ nav_title}} fact sheet!</p>
                        <a href="{{ brochure }}" class="btn btn-outline brand-primary" target="_blank">{{ btn_label | default( "Download Brochure") }}</a>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>

    <section class="section pt-0">
        {#        <h3 class="text-center ruled">{{ title }} ISO 14644-1 Classifications</h3> #}
        <div class="collapse-trigger-container bg-white" data-toggle="#iso-info">
            <h4 class="collapse-trigger">{{ title }} ISO 14644-1 Classifications</h4>
            <div class="collapsible" id="iso-info"><br>
                <p class="text-center">All classifications are in accordance with U.S. Federal Standard 209E and represent concentrations of particles using reference size of 0.5 micron.</p>
                <table class="code-compliance bg-white">
                    <thead>
                    <th>Code Compliance</th>
                    <th>Code Description</th>
                    </thead>
                    {%- for item in compliance -%}
                        <tr>
                            <td><strong>{{ item.code }}</strong></td>
                            <td>{{ item.description | nl2br }}</td>
                        </tr>
                    {%- endfor -%}
                </table>
            </div>
        </div>
    </section>
{% endblock %}