{% extends "layout.njk" %}
{% block body %}
<section class="section">
    <div class="grid-2 vc">
        <div>
            <img src="{{image_1}}" class="img-responsive shadow img-1" alt="" />
        </div>
        <div>
            {{ contents | safe }}
        </div>
    </div>
</section>
<div class="bg-light">
    <section class="section">
        <h3 class="text-center ruled">Educational Resources on<br>Industrial Clean Air Innovation</h3><br><br>
        {%- for card in cards -%}
        <div class="card card-horizontal" data-href="{{card.url}}">
            <div class="card-img-container">
                {%- if card.type === 'Blog' -%}
                    {% set img = posts[0].jumbotron.img %}
                {%- elif card.type === 'Case Study' -%}
                    {% set img = caseStudies[0].jumbotron.img %}
                {%- elif card.type === 'Video' -%}
                    {%- set img = videos[0].youtube_url | getYoutubeThumbnail -%}
                {%- else -%}
                {%- endif -%}
                {% set img = card.image %}
                <img src="{{img}}" class="img-responsive card-img" alt="">
            </div>
            <div class="card-copy">
                <h4 class="h3 pc">{{card.title}}</h4>
                {{card.copy}}
                <br><a href="{{card.url}}" class="link-learn-more card-link">Learn More</a>
            </div>
        </div>
        {%- endfor %}
    </section>
</div>
<section class="section">
    <h3 class="ruled text-center">Solutions Delivered</h3>
    <br><br>
        {% include "partials/solutions-delivered.njk" %}
</section>
{% endblock %}