{% extends "layout.njk" %}
{% set waveType = 'gray' %}
{%- set ctaButton = '<a href="#contact-us-form" class="btn">Contact Us</a>' -%}
{%- set cta = {
        headline : 'Clean Air Compliance Doesn’t Have to be a Hassle',
        copy: 'Learn how portable, retractable industrial clean air systems meet the most stringent compliance requirements while improving your bottom line.',
        label: 'Download Now',
        url: '/resources/whitepapers/industrial-air-filtration-compliance/'
    }
 -%}
{% block body %}
<div class="bg-light">
    <section class="ruled-headers section">
        <div class="grid-2 vc">
            <div>
                <img src="{{image_1}}" class="img-responsive shadow img-intro img-1" alt="" />
            </div>
            <div class="ruled-headers">
                {{ contents | safe }}
                {{ ctaButton | safe }}
                </div>
        </div>
    </section>
</div>
<div class="grid-2 ruled-headers full-col img-2-section">
    <div style="background-image:url('{{image_2}}');" class="img-col">&nbsp;</div>
    <div class="copy-col">
        {{ copy_block_1 | md }}
        {{ ctaButton | safe }}
    </div>
</div>
<div class="bg-light  ">
    <section class="ruled-headers section">
    <div class="grid-2 vc">
        <div>
            {{ copy_block_2 | md }}
        </div>
        <div >
            <img src="{{image_3}}" alt="" width="100%" class="img-responsive img-3">
        </div>
    </div>
    </section>
</div>
<section class="section">
    <h3 class="text-center ruled">Clean Air Code Compliance</h3>
        <table class="code-compliance">
            <thead>
                <th class="col-1">Code Compliance</th>
                <th>Code Description</th>
            </thead>
            {%- for item in compliance -%}
            <tr>
                <td class="col-1"><strong>{{item.code}}</strong></td>
                <td>{{item.description}}</td>
            </tr>
            {%- endfor -%}
        </table>
</section>
<section class="section">
    <div id="contact-us-form" class="form-container narrow">
        <h4 class="h3 text-center">{{form_intro}}</h4><br><br>
        {%- set redirectUrl = '/contact-us/success/?page=solutions'  -%}
        {% include "partials/hubspot-form.njk" %}
    </div>
</section>
<div class="bg-light">
    <section class="section">
        <h3 class="ruled text-center">Duroair Products</h3><br><br>
        <div class="grid-3 related-products">
            {%- for p in related_products -%}
            {%- set item  = p | findByField('title', products) -%}
            {%- set cardCssClass  = 'card-product' -%}
            {% include "partials/card.njk" %}
            {%- endfor -%}
        </div>
    </section>
</div>
{% endblock %}
{% block testimonial %}
{% include "partials/testimonial.njk" %}
{% endblock %}